/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
gemfiles/*.lock
.DS_Store
~.*
~*
Gemfile.lock

/tmp/
/test/**/tmp/

test/dummy_app/**/*.sqlite3.db
test/dummy_app/**/*.sqlite3
test/dummy_app/**/*.log
