/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
gemfiles/*.lock
gemfiles/.bundle
.DS_Store
~.*
~*
Gemfile.lock

/tmp/
/test/**/tmp/

test/dummy_app/**/*.sqlite*
test/dummy_app/**/*.log
