language: ruby
sudo: false
cache: bundler
rvm:
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - 2.7
  - ruby-head

env:
  global:
    - TRAVIS=true
  matrix:
    - DB=postgresql
    - DB=mysql
  
jobs:
  allow_failures:
  - rvm: ruby-head

notifications:
  email:
    on_success: never
    on_failure: always

services:
  - postgresql
  - mysql
